
.huella1{
  width: 1fr;
  height: 1fr;
  background-image: url("./Img/Recurso\ 1huella.png");
  background-size: 100px;
  background-repeat: no-repeat;
  animation: op1 2s  infinite;
}

@keyframes op1{
  0%{
    opacity: 0%;
  }
  50%{
    opacity: 20%;
  }
  100%{
    opacity: 0%;
  }
}

.huella2{
  width: 1fr;
  height: 1fr;
  background-image: url("./Img/Recurso\ 1huella.png");
  background-size: 60px;
  background-repeat: no-repeat;
  animation: op2 1s  infinite;
}

@keyframes op2{
  0%{
    opacity: 0%;
  }
  50%{
    opacity: 20%;
  }
  100%{
    opacity: 0%;
  }
}


.box{
  display: grid;
  width: 100%;
  height: 89vh;
  background-color: #192229;
  grid-template: repeat(8,1fr) /repeat(10,1fr);
  z-index: -10;
}

.bvn{
  margin-top: 100px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 100;
  top: 10px;
  color: white;
  line-height: 0px;
}

.bvnfont{
  font-size: 60px;
}

.guaufont{
  font-size: 30px;
}

.link{
  text-decoration: none;
  cursor: pointer;
}

.button{
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #52A5E0; 
  color: #EFF3F5;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-top: 30px;
}

.button:hover{
  background-color: #2A3B47;
  border: 2px solid #EFF3F5;
}

.logo{
  width: 500px;
}

@media screen and (max-width: 700px){
  .logo{
    width: 300px;
  }

  .huella2{
    background-size: 30px;
  }

  .huella1{
    background-size: 30px;
  }
}